input,
select {
  font-size: 1rem;
  vertical-align: middle;
}

input:focus,
select:focus {
  outline: 3px solid #000;
}

input.small {
  width: 5em;
}

input.code {
  width: 16em;

  font-family: "Source Code Pro", Menlo, monospace;
}

input.code-wide {
  width: 100%;
}

.label-aligned {
  display: inline-block;
  width: 8em;
}

label {
  display: inline-block;
  margin-right: .4em;

  vertical-align: middle;
}

fieldset {
  padding: 0;
  border: 0;
}

samp {
  font-size: 1rem;
}
