---
title: Path Paladin
intro: Perfect paths for every file.
congrats: Dots and slashes are your native language.
scripts:
  - activity.js
layout: form-validator
---

<div data-input-group="question-1">
  <div class="highlight-box gutter pad-t-1-2 pad-b-1-2 push">
    {% include path-paladin/files-folders.html from="home" to="css-main" %}
  </div>
  <label class="block" for="path">Path</label>
  <samp>&lt;link href="</samp> <input class="code" id="path"> <samp>" rel="stylesheet"&gt;</samp>
</div>

<div data-input-group="question-2">
  <div class="highlight-box gutter pad-t-1-2 pad-b-1-2 push">
    {% include path-paladin/files-folders.html from="home" to="about" %}
  </div>
  <label class="block" for="path">Path</label>
  <samp>&lt;a href="</samp> <input class="code" id="path"> <samp>"&gt;…&lt;/a&gt;</samp>
</div>

<div data-input-group="question-3">
  <div class="highlight-box gutter pad-t-1-2 pad-b-1-2 push">
    {% include path-paladin/files-folders.html from="home" to="img-veloci" %}
  </div>
  <label class="block" for="path">Path</label>
  <samp>&lt;img src="</samp> <input class="code" id="path"> <samp>" alt="…"&gt;</samp>
</div>

<div data-input-group="question-4">
  <div class="highlight-box gutter pad-t-1-2 pad-b-1-2 push">
    {% include path-paladin/files-folders.html from="css-main" to="img-bg" %}
  </div>
  <label class="block" for="path">Path</label>
  <samp>background-image: url("</samp> <input class="code" id="path"> <samp>");</samp>
</div>

<div data-input-group="question-5">
  <div class="highlight-box gutter pad-t-1-2 pad-b-1-2 push">
    {% include path-paladin/files-folders.html from="dino-veloci" to="meat-index" %}
  </div>
  <label class="block" for="path">Path</label>
  <samp>&lt;a href="</samp> <input class="code" id="path"> <samp>"&gt;…&lt;/a&gt;</samp>
</div>

<div data-input-group="question-6">
  <div class="highlight-box gutter pad-t-1-2 pad-b-1-2 push">
    {% include path-paladin/files-folders.html from="dino-veloci" to="dino-index" %}
  </div>
  <label class="block" for="path">Path</label>
  <samp>&lt;a href="</samp> <input class="code" id="path"> <samp>"&gt;…&lt;/a&gt;</samp>
</div>

<div data-input-group="question-7">
  <div class="highlight-box gutter pad-t-1-2 pad-b-1-2 push">
    {% include path-paladin/files-folders.html from="dino-veloci" to="img-veloci" %}
  </div>
  <label class="block" for="path">Path</label>
  <samp>&lt;img src="</samp> <input class="code" id="path"> <samp>" alt="…"&gt;</samp>
</div>

<div data-input-group="question-8">
  <div class="highlight-box gutter pad-t-1-2 pad-b-1-2 push">
    {% include path-paladin/files-folders.html from="home" to="about" %}
  </div>
  <label class="block" for="path">Path</label>
  <samp>&lt;a href="</samp> <input class="code" id="path"> <samp>"&gt;…&lt;/a&gt;</samp>
</div>

<div data-input-group="question-9">
  <div class="highlight-box gutter pad-t-1-2 pad-b-1-2 push">
    {% include path-paladin/files-folders.html from="dino-stego" to="img-stego" %}
  </div>
  <label class="block" for="path">Path</label>
  <samp>&lt;img src="</samp> <input class="code" id="path"> <samp>" alt="…"&gt;</samp>
</div>

<div data-input-group="question-10">
  <div class="highlight-box gutter pad-t-1-2 pad-b-1-2 push">
    {% include path-paladin/files-folders.html from="dino-index" to="dino-stego" %}
  </div>
  <label class="block" for="path">Path</label>
  <samp>&lt;a href="</samp> <input class="code" id="path"> <samp>"&gt;…&lt;/a&gt;</samp>
</div>
