<h2 class="folder normal micro push-0">
  <span class="file-label">website-root</span>
</h2>
<ol class="folder-group micro push-0">
  <li class="file">
    {% include file-label.html label="index.html" compare="home" data=include %}
  </li>
  <li class="file">
    {% include file-label.html label="about.html" compare="about" data=include %}
  </li>
  <li class="folder">
    {% include file-label.html label="css" compare="css" data=include %}
    <ol>
      <li class="file">
        {% include file-label.html label="main.css" compare="css-main" data=include %}
      </li>
    </ol>
  </li>
  <li class="folder">
    {% include file-label.html label="img" compare="img" data=include %}
    <ol>
      <li class="file">
        {% include file-label.html label="background.png" compare="img-bg" data=include %}
      </li>
      <li class="folder">
        {% include file-label.html label="dinos" compare="img-dinos" data=include %}
        <ol>
          <li class="file">
            {% include file-label.html label="velociraptor.jpg" compare="img-veloci" data=include %}
          </li>
          <li class="file">
            {% include file-label.html label="stegosaurus.jpg" compare="img-stego" data=include %}
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li class="folder">
    {% include file-label.html label="dinos" compare="dinos" data=include %}
    <ol>
      <li class="file">
        {% include file-label.html label="index.html" compare="dino-index" data=include %}
      </li>
      <li class="folder">
        {% include file-label.html label="meat-eaters" compare="meat-eaters" data=include %}
        <ol>
          <li class="file">
            {% include file-label.html label="index.html" compare="meat-index" data=include %}
          </li>
          <li class="file">
            {% include file-label.html label="velociraptor.html" compare="dino-veloci" data=include %}
          </li>
        </ol>
      </li>
      <li class="folder">
        {% include file-label.html label="plant-eaters" compare="plant-eaters" data=include %}
        <ol>
          <li class="file">
            {% include file-label.html label="index.html" compare="plant-index" data=include %}
          </li>
          <li class="file">
            {% include file-label.html label="stegosaurus.html" compare="dino-stego" data=include %}
          </li>
        </ol>
      </li>
    </ol>
  </li>
</ol>
