---
layout: wrapper
---

{% jsonball package from file package.json %}

<header class="text-center pad-t-2" data-screen="start">
  <h1 class="zetta" id="game-title">{{page.title}}</h1>
  <p class="giga" id="game-intro">{{page.intro}}</p>
  <img class="game-icon push-2" src="icon.svg" alt="">
  <button class="btn giga" id="start-button">Start activity</button>
  {% if page.notes %}<small class="block pad-t-2 italic" id="game-notes">{{page.notes | markdownify}}</small>{% endif %}
</header>

{{content}}

<aside class="screen-cover text-center bold pad-t-2" data-screen="failure" hidden role="alert" aria-live="assertive" aria-label="Try again." tabindex="-1">
  <strong class="marker marker--failure push">✘</strong>
  <div id="wrong-message">
    <p class="giga" hidden>Something’s whacky. Try again.</p>
    <p class="giga" hidden>Slow down. Try again.</p>
    <p class="giga" hidden>Whoa. Try again.</p>
    <p class="giga" hidden>Hold your horses. Try again.</p>
    <p class="giga" hidden>Not quite. Try again.</p>
    <p class="giga" hidden>Nope. Try again.</p>
    <p class="giga" hidden>Um… no. Try again.</p>
    <p class="giga" hidden>You wish. Try again.</p>
    <p class="giga" hidden>Dang it. Try again.</p>
    <p class="giga" hidden>Aw snap. Try again.</p>
    <p class="giga" hidden>Jeepers. Try again.</p>
    <p class="giga" hidden>Oh heck. Try again.</p>
    <p class="giga" hidden>Not again. Try again.</p>
    <p class="giga" hidden>Flibbertigibbet. Try again.</p>
    <p class="giga" hidden>Careful, don’t cross the streams. Try again.</p>
  </div>
</aside>

<aside class="screen-cover text-center bold pad-t-2" data-screen="success" hidden role="alert" aria-live="assertive" aria-label="Correct." tabindex="-1">
  <strong class="marker marker--success push">✔</strong>
  <div id="right-message">
    <p class="giga" hidden>Booyakasha!</p>
    <p class="giga" hidden>Way to go!</p>
    <p class="giga" hidden>Super-duper!</p>
    <p class="giga" hidden>Awesome!</p>
    <p class="giga" hidden>Cowabunga!</p>
    <p class="giga" hidden>Rad!</p>
    <p class="giga" hidden>Amazeballs!</p>
    <p class="giga" hidden>Sweet!</p>
    <p class="giga" hidden>Cool!</p>
    <p class="giga" hidden>Nice!</p>
    <p class="giga" hidden>Fantastic!</p>
    <p class="giga" hidden>Geronimo!</p>
    <p class="giga" hidden>Whamo!</p>
    <p class="giga" hidden>Mathmatical!</p>
    <p class="giga" hidden>Superb!</p>
    <p class="giga" hidden>Stupendous!</p>
    <p class="giga" hidden>All clear!</p>
  </div>
</aside>

<aside class="text-center bold pad-t-2" data-screen="fatal-error" hidden>
  <h2 class="zetta" tabindex="-1">Game Over!</h2>
  <span class="block push marker-image"><img id="fatal-error-img" src="#" alt=""></span>
  <p class="giga push-0"><strong id="fatal-error-message"></strong></p>
  <p class="giga">You’ll have to <a href="{{page.url}}">start over</a>.</p>
</aside>

<footer class="text-center pad-t" data-screen="end" hidden>
  <h2 class="zetta" tabindex="-1">Congratulations!</h2>
  <strong class="block push marker-image"><img src="/images/victory.svg" alt="Victory!"></strong>
  <h3 class="peta push-0">{{page.title}}</h3>
  <p class="giga italic max-length" id="game-congrats">{{page.congrats}}</p>
  <dl id="success-stats">
    <div>
      <dt>Started</dt>
      <dd id="stats-start"></dd>
    </div>
    <div>
      <dt>Finished</dt>
      <dd id="stats-end"></dd>
    </div>
    <div>
      <dt>Completion time</dt>
      <dd id="stats-time"></dd>
    </div>
  </dl>
  <p>You answered <strong id="stats-correct"></strong> of the questions correctly on the first try.</p>
</footer>

<script>var quizId = '{{page.url | replace:"/", ""}}';</script>
<script src="/activities.min.js?v={{package.version}}"></script>
