<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}} · Learn the Web</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="/main.min.css?v={{site.version}}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400italic,700|Source+Code+Pro:400,700" rel="stylesheet">
  {% for script in page.blockingscripts %}
    <script src="{{script}}?v={{site.version}}"></script>
  {% endfor %}
  {% for style in page.styles %}
    <link href="{{style}}?v={{site.version}}" rel="stylesheet">
  {% endfor %}
  <meta name="application-name" content="Learn the Web">
  <link rel="apple-touch-icon-precomposed" href="/favicon-152.png">
  <meta name="msapplication-TileImage" content="/favicon-144.png">
  <meta name="msapplication-TileColor" content="#00deae">
  <meta property="os:repo" content="https://github.com/acgd-learn-the-web/activities">
  <meta property="os:rcs_type" content="git">
  <meta property="os:src" content="git@github.com:acgd-learn-the-web/activities.git">
  <meta property="os:issue" content="https://github.com/acgd-learn-the-web/activities/issues">
</head>
<body>

  {{content}}

  {% for script in page.scripts %}
    <script src="{{script}}?v={{site.version}}"></script>
  {% endfor %}
</body>
</html>
