{% jsonball package from file package.json %}

<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}} · Activities · Learn the Web</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{page.desc | strip | strip_newlines}}">

  <link href="/main.min.css?v={{package.version}}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:400,400italic,700|Source+Code+Pro:400,700" rel="stylesheet">
  {% for script in page.blockingscripts %}
    <script src="{{script}}?v={{package.version}}"></script>
  {% endfor %}
  {% for style in page.styles %}
    <link href="{{style}}?v={{package.version}}" rel="stylesheet">
  {% endfor %}

  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

  <meta name="application-name" content="Activities · Learn the Web">
  <link rel="author" href="/humans.txt">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/favicon-152.png">
  <meta name="msapplication-TileImage" content="/favicon-144.png">
  <meta name="msapplication-TileColor" content="#00deae">

  <link rel="profile" href="http://osprotocol.com">
  <meta property="os:repo" content="https://github.com/acgd-learn-the-web/activities">
  <meta property="os:rcs_type" content="git">
  <meta property="os:src" content="git@github.com:acgd-learn-the-web/activities.git">
  <meta property="os:issue" content="https://github.com/acgd-learn-the-web/activities/issues">
  <link rel="license" href="https://github.com/acgd-learn-the-web/activities/blob/master/LICENSE">

  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_CA">
  <meta property="og:title" content="{{page.title}} · Activities · Learn the Web">
  <meta property="og:url" content="https://activities.learn-the-web.algonquindesign.ca{{page.url | replace: 'index.html', ''}}">
  <meta property="og:image" content="https://activities.learn-the-web.algonquindesign.ca/favicon-152.png">
  <meta property="og:site_name" content="Activities · Learn the Web">
  <meta property="og:description" content="{{page.desc | strip | strip_newlines}}">
  <meta property="og:updated_time" content="{% capture lastmod_date %}{% last_modified {{ page.path }} %}{% endcapture %}{{ lastmod_date | date_to_xmlschema }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@algonquindesign">
  <meta name="twitter:title" content="{{page.title}} · Activities · Learn the Web">
  <meta name="twitter:url" content="https://activities.learn-the-web.algonquindesign.ca{{page.url | replace: 'index.html', ''}}">
  <meta name="twitter:description" content="{{page.desc | strip | strip_newlines}}">
  <meta name="twitter:image" content="https://activities.learn-the-web.algonquindesign.ca/favicon-152.png">
</head>
<body>

  {{content}}

  {% for script in page.scripts %}
    <script src="{{script}}?v={{package.version}}"></script>
  {% endfor %}

  <script type="application/ld+json">
  [
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Thomas J Bradley",
      "jobTitle": "Professor",
      "memberOf": {
        "@id": "#algonquin"
      },
      "description": "Thomas J Bradley, Professor of The Open Web, is in charge of developing & maintaining the Web Development courses in the Graphic Design program at Algonquin College",
      "email": "thomas.bradley@algonquincollege.com",
      "url": "https://thomasjbradley.ca"
    },
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "@id": "#thomasjbradley",
      "name": "Thomas J Bradley",
      "jobTitle": "Professor",
      "memberOf": {
        "@id": "#algonquin"
      },
      "description": "Thomas J Bradley, Professor of The Open Web, is in charge of developing & maintaining the Web Development courses in the Graphic Design program at Algonquin College",
      "email": "thomas.bradley@algonquincollege.com",
      "url": "https://thomasjbradley.ca"
    },
    {
      "@context": "https://schema.org",
      "@type": "PostalAddress",
      "@id": "#algonquin-address",
      "name": "Algonquin College",
      "url": "https://algonquincollege.com",
      "streetAddress": "1385 Woodroffe Ave.",
      "addressLocality": "Ottawa",
      "addressRegion": "ON",
      "postalCode": "K2G 1V8",
      "addressCountry": "CA"
    },
    {
      "@context": "https://schema.org",
      "@type": "CollegeOrUniversity",
      "name": "Algonquin College Graphic Design",
      "image": "https://algonquindesign.ca/favicon-152.png",
      "url": "https://algonquindesign.ca",
      "description": "Ontario college graphic design diploma program teaching students up-to-date courses in print, mobile, web & motion.",
      "address": {
        "@id": "#algonquin-address"
      }
    },
    {
      "@context": "https://schema.org",
      "@type": "CollegeOrUniversity",
      "@id": "#algonquin",
      "name": "Algonquin College Graphic Design",
      "image": "https://algonquindesign.ca/favicon-152.png",
      "url": "https://algonquindesign.ca",
      "description": "Ontario college graphic design diploma program teaching students up-to-date courses in print, mobile, web & motion.",
      "address": {
        "@id": "#algonquin-address"
      }
    },
    {
      "@context": "https://schema.org",
      "@type": "AlignmentObject",
      "@id": "#higher-education",
      "alignmentType": "teaches",
      "educationalFramework": "Higher Education",
      "targetName": "Higher Education",
      "targetUrl": "http://purl.org/ASN/scheme/ASNEducationLevel/HigherEducation"
    },
    {
      "@context": "https://schema.org",
      "@type": "CreativeWork",
      "accessMode": "textual, visual",
      "accessModeSufficient": "textual",
      "accessibilityAPI": "ARIA",
      "accessibilityControl": "fullKeyboardControl, fullMouseControl, fullTouchControl",
      "accessibilityFeature": "alternativeText, highContrastDisplay, largePrint, readingOrder, structuralNavigation",
      "accessibilityHazard": "noFlashingHazard, noSoundHazard",
      "author": {
        "@id": "#thomasjbradley"
      },
      "copyrightHolder": {
        "@id": "#thomasjbradley"
      },
      "copyrightYear": "{{site.time | date:'%Y'}}",
      "dateModified": "{{site.time}}",
      "educationalAlignment": {
        "@id": "#higher-education"
      },
      "educationalUse": "Quiz",
      "isAccessibleForFree": true,
      "learningResourceType": "Quiz",
      "interactivityType": "active",
      "license": "https://creativecommons.org/licenses/by-nc-sa/4.0/",
      "timeRequired": "PT30M",
      "name": "{{page.title}}",
      "description": "{{page.desc}}",
      "url": "https://activities.learn-the-web.algonquindesign.ca{{page.url | replace: 'index.html', ''}}",
      "audience": {
        "@type": "Audience",
        "audienceType": "public"
      }
    }
  ]
  </script>

</body>
</html>
